<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About me</title>
  </head>
  <body>
    <h1>About me:</h1>
    <p>
      My name is Abdelkrim. Nickname is "Krimothaizine". I am pharmacist from
      Algeria but also I love programming! I am currently learning web dev to
      use it in pharmaceutical field!
    </p>
    <a href="/">Home</a>
    <a href="/contact-me">Contact</a>
  </body>
</html>
