<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact me</title>
  </head>
  <body>
    <h1>Contact me:</h1>
    <p>You can get contact with me via these platforms:</p>
    <a
      href="https://www.facebook.com/profile.php?id=61551593846619"
      target="_blank"
      >Facebook</a
    >
    <a href="https://github.com/Abdelkrim-Saouchi" target="_blank">Github</a>
    <a href="mailto:krimouv1995@gmail.com">Gmail</a>
    <br />
    <a href="/">Home</a>
    <a href="/about">about me</a>
  </body>
</html>
